
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>
  <header>
    <a href="https://www.bigcommerce.com"><img src="/assets/Bigcommerce-logo-dark.png" height="40px" width="175px"></a>
    <h2>Webhooks V1</h2>
  </header>
  <body>
    <div class="main">
      <% products.forEach(function(product) { %>
          <h2>Webhook dispatch</h2>
              <p> Product ID: <%= product.id %>
                <br>
              Product Type: <%= product.type %>
              <br>
              Hash: <%= product.hash %>
              <br>
              Store ID: <%= product.store_id %>
              <br>
              Scope: <%= product.scope %>
            </p>
          <% }); %>

    </div>
  </body>
</html>
